# Environments
.venv/
env/
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Security & Config (CRITICAL)
.env
secrets.json
*.pem

# Logs
*.log

# IDE & OS Junk
.vscode/
.idea/
.DS_Store
Thumbs.db

# Machine Learning & Data
.ipynb_checkpoints/
data/